<div class="container">
  <app-pomodoros-icons [queuedPomodorod]="queuedPomodorod" [countsTomato]="countsTomato"></app-pomodoros-icons>
  <h4 class="text-center">Tasks backlog</h4>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Task name</th>
        <th class="hidden-xs">Deliver by</th>
        <th class="hidden-xs">Pomodoros</th>
        <th>Actions</th>
        <th>Timer</th>
        <th class="hidden-xs">Delete</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasks;let i = index" class="ng-animate">
      <th scope="row">
        {{i}}
        <span *ngIf="task.queued" class="label label-info ng-animate" [@flyInOut]="'in'">
          Queued
        </span>
      </th>
      <td>
        <a [routerLink]="['/detail', task.id]">
          {{task.name | slice: 0:35}}<span [hidden]="task.name.length < 35">...</span>
        </a>
      </td>
      <td class="hidden-xs">
        {{task.deadline | date: 'fullDate'}}
        <span *ngIf="task.deadline < today" class="label label-danger">Due</span>
      </td>
      <td class="hidden-xs">{{task.pomodorosRequired}}</td>
      <td>
        <button class="btn btn-success btn-xs" (click)="toggleTask(task)" [ngSwitch]="task.queued">
          <span *ngSwitchCase="false">
            <i class="glyphicon glyphicon-plus-sign"></i>
            Add
          </span>
          <span *ngSwitchCase="true">
            <i class="glyphicon glyphicon-minus-sign"></i>
            Remove
          </span>
          <span *ngSwitchDefault>
            <i class="glyphicon glyphicon-plus-sign"></i>
            Add
          </span>
        </button>
      </td>
      <td>
        <button class="btn btn-danger btn-xs" (click)="goToTimer(i)">to timer</button>
      </td>
      <td class="hidden-xs">
        <button class="btn btn-warning btn-xs" (click)="deleteTask(i); $event.stopPropagation()">delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

