<div class="container">
  <form class="well">
    <div class="form-group" [ngClass]="{'has-error': name.errors?.rangeLength}">
      <label for="task_name">Task</label>
      <input type="text" class="form-control" id="task_name" placeholder="task name"
             [(ngModel)]="task.name" name="name" #name="ngModel" [rangeLength]="[2, 10]">
    </div>

    <div class="form-group" [ngClass]="{'has-error': (deadline.errors?.date && deadline.errors?.rangeLength)}">
      <label for="deliver">Deliver</label>
      <input type="text" class="form-control" id="deliver" name="deadline"
             [(ngModel)]="task.deadline" #deadline="ngModel" date placeholder="2015-02-10" [rangeLength]="[10, 10]">
    </div>

    <div class="form-group" [ngClass]="{'has-error': pomodorosRequired.errors?.min}">
      <label for="pomodoros">Pomodoros</label>
      <input type="number" name="pomodorosRequired" class="form-control" id="pomodoros" placeholder="pomodoros counts"
             [(ngModel)]="task.pomodorosRequired" name="pomodorosRequired" #pomodorosRequired="ngModel" [min]="1">
    </div>

    <div class="form-group">
      <button class="btn btn-success" (click)="addTask(task)">add task</button>
    </div>
  </form>
</div>
